form {
	margin-top: 20px;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	display: inline-block;
	padding: 10px;
	background-color: lightgreen;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 15px !important;
	border: 1px solid crimson !important;
}

th {
	background-color: lightgrey;
}

input {
	margin-bottom: 10px !important;
	display: inline-block !important;
}

#menu {
	margin-bottom: 25px;
}

h3 {
	color: crimson;
}