<h3>Prisijungimas</h3>
<form id='login_form' th:action="@{/login}" method="post">
	<div class='form-group row'>
		<div class='col-3'>
			<label class='form-label' for='username'>Vartotojas</label>
		</div>
		<div class='col-9'>
			<div class='input-group'>
				<div class="input-group-prepend">
					<span class="input-group-text">
					<!-- https://icons.getbootstrap.com/icons/person-fill/ -->
					<!-- https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/bootstrap-icons.php -->
						<i class="bi bi-person-fill"></i>
					</span>
				</div>
				<input type="text" name="username" id='username' class='form-control' autofocus='autofocus'/>
			</div>
		</div>
	</div>
	<div class='form-group row'>
		<div class='col-3'>
			<label class='form-label' for='password'>Slaptažodis</label>
		</div>
		<div class='col-9'>
			<div class='input-group'>
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="bi bi-lock-fill"></i>
					</span>
				</div>
				<input type="password" name="password" id='password' class='form-control'/>
			</div>
		</div>
	</div>
	<input type="submit" value="Prisijungti" class='btn btn-primary'/>
</form>