<!DOCTYPE html>
<html>
	<head>
		<title>Registracija</title>
		<link rel='stylesheet' href='index.css'>
		<script src='https://code.jquery.com/jquery-3.6.0.js'></script>
		<script src='index.js'></script>
	</head>
	<body>
		<div th:replace='_menu'></div>
		<h3>Registracija</h3>
		<table>
			<tr>
				<th>Dalykas</th>
				<th>Studentas</th>
				<th>Veiksmai</th>
			</tr>
			<tr class='irasas' th:each='sd : ${studentaiDalykai}'>
				<td th:text='${sd.getDalykasId()}'></td>
				<td th:text='${sd.getStudentasId()}'></td>
				<td><a href='registracija/delete' th:data-id='${sd.getId()}' class='trinti'>Išregistruoti</a></td>
			</tr>
		</table>
		<form action='' method='post'>
			<select name='studentas_id'>
				<option th:each='s : ${studentai}' th:value='${s.getId()}' th:text='${s.getPilnasVardas()}'></option>
			</select>
			<select name='dalykas_id'>
				<option th:each='d : ${dalykai}' th:value='${d.getId()}' th:text='${d.getPavadinimas()}'></option>
			</select>
			<input type='submit' value='Registruoti'>
		</form>
	</body>
</html>