<!DOCTYPE html>
<html>
	<head>
		<title>Registracija</title>
		<div th:replace='_head'></div>
	</head>
	<body class='container'>
		<div class='row'>
			<div class='col-3'></div>
			<div class='col-6'>
				<div th:replace='_menu'></div>
				<h3>Registracija</h3>
				<table>
					<tr>
						<th>Studentas</th>
						<th>Dalykas</th>
						<th>Registruotas</th>
						<th>Veiksmai</th>
					</tr>
					<tr class='irasas' th:each='sd : ${studentaiDalykai}'>
						<td th:text='${sd.getStudentas().getPilnasVardas()}'></td>
						<td th:text='${sd.getDalykas().getPavadinimas()}'></td>
						<td th:text='${sd.getCreatedAt()}'></td>
						<td><a href='registracija/delete' th:data-id='${sd.getId()}' class='trinti'>Išregistruoti</a></td>
					</tr>
				</table>
				<form action='' method='post' class='form-horizontal'>
					<div class='row'>
						<div class='col-5'>
							<select name='studentas_id' class='form-control'>
								<option th:each='s : ${studentai}' th:value='${s.getId()}' th:text='${s.getPilnasVardas()}'></option>
							</select>
						</div>
						<div class='col-4'>
							<select name='dalykas_id' class='form-control'>
								<option th:each='d : ${dalykai}' th:value='${d.getId()}' th:text='${d.getPavadinimas()}'></option>
							</select>
						</div>
						<div class='col-3'>
							<input type='submit' value='Registruoti' class='btn btn-primary'>
						</div>
					</div>
				</form>
			<div class='col-3'></div>
		</div>
	</body>
</html>